.confirmDialog .overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 350;
  opacity: 0.8;
}
.confirmDialog .content {
  z-index: 400;
  position: fixed;
  width: 60%;
  left: 20%;
  top: 20%;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #eee;
  border-bottom-width: 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.confirmDialog .message {
  font-size: 1.2em;
}
.confirmDialog .message p.heading {
  font-weight: bold;
  margin: 6px 2px;
}
.confirmDialog .message p.console {
  font-size: 1em;
  font-family: monospace;
  margin: 4px 2px;
}
.confirmDialog .message p.error {
  color: #d52346;
}
.confirmDialog .message p.success {
  color: #4a9fee;
}
.confirmDialog .footer {
  margin-top: 5px;
  border-top: 1px solid #ccc;
  overflow: auto;
  padding-top: 5px;
}
.confirmDialog .footer .controls {
  float: right;
}
.confirmDialog .footer .controls button {
  padding: 7px;
  font-size: 0.9em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #f86300;
  margin-right: 4px;
  border: none;
  border-bottom: 3px solid #ccc;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.confirmDialog .footer .controls .ok,
.confirmDialog .footer .controls .ok:active {
  background-color: #4a9fee;
  border-bottom-color: #0E6E9B;
}
.confirmDialog .footer .controls .ok:hover {
  background-color: #0E6E9B;
  border-bottom-color: #4a9fee;
}
.confirmDialog .footer .controls .error,
.confirmDialog .footer .controls .error:active {
  background-color: #d52346;
  border-bottom-color: #A2141F;
}
.confirmDialog .footer .controls .error:hover {
  background-color: #A2141F;
  border-bottom-color: #d52346;
}
.confirmDialog .footer .controls button:last-child {
  margin-right: 0;
}
