<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TV Show Manager</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/index.css">
        <script src="js/vendor/jquery-1.10.2.min.js"></script>
        <script src="js/vendor/jquery.mousewheel.min.js"></script>
        <script src="js/vendor/jquery.slimscroll.min.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/database.js"></script>
        <script src="js/index.js"></script>
    </head>
    <body data-ng-app data-ng-csp data-ng-controller="NavController">
        <!--<h1 id="appTitle">TV Show Manager</h1>-->
        <div id="appTitle">
            <h2>TV SHOW MANAGER</h2>
        </div>
        <div id="content">
            <ul data-ng-controller="UpcomingController" id="todayList" class="show-list" data-ng-show="selectedNav==0">
                <li data-ng-repeat="item in shows | orderBy:'data.airdate':false" class="list-item {{dayType(item.data.airdate)}}">
                    <div class="autoOverflow showHeader">
                        <img src="{{item.img}}" alt="{{item.data.showname}}" class="showImg">
                        <h3 class="showTitle">{{item.data.showname}}</h3>
                        <h4 class="showTitle">{{item.data.name}}</h4>
                        <p class="nextShow">Season&nbsp;{{item.data.season}}&nbsp;Episode&nbsp;{{item.data.episode}}</p>
                        <p class="datetime">{{formatDate(item.data.airdate)}}&nbsp;<span class="day">({{dayType(item.data.airdate)}})</span></p>
                        <p class="overview">{{item.data.overview}}</p>
                    </div>
                </li>
                <li class="list-item" data-ng-show="noUpcoming" style="text-align:center">
                    <div class="autoOverflow showHeader"><h2>No Upcoming Shows.</h2></div>
                </li>
            </ul>
            <div id="addShow" class="show-list" data-ng-show="selectedNav==1" data-ng-controller="SearchShowsController">
                <form id="searchBox" method="get" data-ng-submit="getShows()">
                    <input type="text" id="searchShow" data-ng-model="searchName" placeholder="Enter show name" />
                    <p class="{{class}}">{{msg}}</p>
                </form>
                <ul id="searchList" data-ng-show="isShown">
                    <li class="list-item"><h2>Search Result for {{searchName}}</h2></li>
                    <li class="list-item" data-ng-repeat="item in shows track by $index">
                        <div class="autoOverflow showHeader">
                            <div class="titleBar">
                                <h3 class="showTitle">{{item.title}}&nbsp;({{item.year}})</h3>
                                <p class="datetime">{{item.air_day+" "+item.air_time}}</p>
                            </div>
                            <div class="controlBar">
                                <button data-ng-click="saveShow($index)">ADD</button>
                            </div>
                        </div>
                        <p class="overview">{{item.overview}}</p>
                    </li>
                </ul>
            </div>
            <ul id="showList" class="show-list" data-ng-show="selectedNav==2" data-ng-controller="ShowListController">
            <!--li.list-item>div.autoOverflow.showHeader>img.showImg+h3.showTitle+p.nextShow-->
                <li class="list-item" data-ng-repeat="item in shows track by $index">
                    <div class="autoOverflow showHeader">
                        <div class="controlBar">
                            <button data-ng-click="deleteShow($index)" title="Delete Show" class="btn-mini icon icon-delete"></button>
                            <button data-ng-click="showInfo($index)" title="View Full Info" class="btn-mini icon icon-info"></button>
                        </div>
                        <img src="{{item.img}}" alt="{{item.title}}" class="showImg showImgSmall">
                        <h3 class="showTitle">{{item.data.title}}</h3>
                        <p class="nextShow">{{item.data.air_day}}&nbsp;{{item.data.air_time}}&nbsp;on&nbsp;{{item.data.network}}</p>
                        <p class="overview">{{status(item.data.ended)}}</p>
                        <!--<p class="overview">{{item.data.overview}}</p>-->
                    </div>
                </li>
                <li class="list-item" data-ng-show="noAdded" style="text-align:center">
                    <div class="autoOverflow showHeader"><h2>No Shows added yet.</h2></div>
                </li>
            </ul>
            <div class="navs">
                <ul class="nav-list">
                    <li data-ng-repeat="item in navItems" data-ng-class="{active: $index==selectedNav}">
                        <a href="{{item.href}}" class="navLink" data-ng-click="changeView($index)">{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
