<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TV Show Manager</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/index.min.css">
        <link rel="stylesheet" href="css/dialog.min.css">
        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/jquery.mousewheel.js"></script>
        <script src="js/vendor/jquery.slimscroll.js"></script>
        <script src="js/jquery.confirm.min.js"></script>
        <script src="js/jquery.console.min.js"></script>
        <script src="js/vendor/angular.js"></script>
        <script src="js/database.min.js"></script>
        <script src="js/index.min.js"></script>
    </head>
    <body data-ng-app data-ng-csp data-ng-controller="NavController">
        <div id="appTitle">
            <h2>TV SHOW MANAGER</h2>
            <button data-ng-click="showAppMenu()" title="Menu" class="btn-mini icon icon-settings"></button>
            <ul id="appMenu" data-ng-show="menuVisible==true">
                <li data-ng-click="checkUpdate()"><button class="btn-mini icon icon-refresh"></button>&nbsp;Check For Update</li>
                <li data-ng-click="about()"><button class="btn-mini icon icon-about"></button>&nbsp;About</li>
            </nav>
        </div>
        <div id="content">
            <ul data-ng-controller="UpcomingController" id="todayList" class="show-list" data-ng-show="selectedNav==0">
                <li data-ng-repeat="item in shows | orderBy:'data.airdate':false track by $index" class="list-item {{dayType(item.data.airdate)}}">
                    <div class="autoOverflow showHeader">
                        <img src="{{item.img}}" alt="{{item.data.showname}}" class="showImg">
                        <h3 class="showTitle">{{item.data.showname}}</h3>
                        <h4 class="showTitle">{{item.data.name}}</h4>
                        <p class="nextShow">Season&nbsp;{{item.data.season}}&nbsp;Episode&nbsp;{{item.data.episode}}</p>
                        <p class="datetime">{{formatDate(item.data.airdate)}}&nbsp;<span class="day">({{dayType(item.data.airdate)}})</span></p>
                        <p class="overview">{{item.data.overview}}</p>
                        <div class="controlBar" data-ng-show="showBtn($index)"><button class="btn-mini" data-ng-click='updateEpisode({{item.data.episodeID}},"{{item.data.showname}}")'>Update</button></div>
                    </div>
                </li>
                <li class="list-item" data-ng-show="noUpcoming" style="text-align:center">
                    <div class="autoOverflow showHeader"><h2>{{info}}</h2></div>
                </li>
            </ul>
            <div id="addShow" class="show-list" data-ng-show="selectedNav==1" data-ng-controller="SearchShowsController">
                <form id="searchBox" method="get" data-ng-submit="getShows()">
                    <input type="text" id="searchShow" data-ng-model="searchName" placeholder="Enter show name" />
                    <p class="{{class}}">{{msg}}</p>
                </form>
                <ul id="searchList" data-ng-show="isShown">
                    <li class="list-item"><h2>Search Result for {{searchName}}</h2></li>
                    <li class="list-item" data-ng-repeat="item in shows track by $index">
                        <div class="autoOverflow showHeader">
                            <div class="titleBar">
                                <h3 class="showTitle">{{item.title}}&nbsp;({{item.year}})</h3>
                                <p class="datetime">{{item.air_day+" "+item.air_time}}</p>
                            </div>
                            <div class="controlBar">
                                <button data-ng-click="saveShow($index)">ADD</button>
                            </div>
                        </div>
                        <p class="overview">{{item.overview}}</p>
                    </li>
                </ul>
            </div>
            <ul id="showList" class="show-list" data-ng-show="selectedNav==2" data-ng-controller="ShowListController">
            <!--li.list-item>div.autoOverflow.showHeader>img.showImg+h3.showTitle+p.nextShow-->
                <li class="list-item" data-ng-repeat="item in shows track by $index">
                    <div class="autoOverflow showHeader">
                        <div class="controlBar">
                            <button data-ng-click="deleteShow($index)" title="Delete Show" class="btn-mini icon icon-delete"></button>
                            <button data-ng-click="showInfo($index)" title="View Full Info" class="btn-mini icon icon-info"></button>
                            <button data-ng-click="updateShow($index)" title="Reupdate show" class="btn-mini icon icon-refresh"></button>
                        </div>
                        <img src="{{item.img}}" alt="{{item.data.title}}" class="showImg showImgSmall">
                        <h3 class="showTitle">{{item.data.title}}</h3>
                        <p class="nextShow">{{item.data.air_day}}&nbsp;{{item.data.air_time}}&nbsp;on&nbsp;{{item.data.network}}</p>
                        <p class="overview">{{status(item.data.ended)}}</p>
                        <!--<p class="overview">{{item.data.overview}}</p>-->
                    </div>
                </li>
                <li class="list-item" data-ng-show="noAdded" style="text-align:center">
                    <div class="autoOverflow showHeader"><h2>{{info}}</h2></div>
                </li>
            </ul>
            <div id="showInfo" class="show-list" data-ng-show="selectedNav==3" data-ng-controller="ShowInfoController">
                <h2 style="margin:5px;margin-left:20px;">{{show.data.title}}<button class="btn-mini" style="float:right" data-ng-click="getBack()">&lt;&nbsp;Back</button></h2>
                <div class="autoOverflow showHeader">
                    <img src="{{show.img}}" alt="{{show.data.title}}" class="bigImage">
                    <div class="showDetails">
                        <p class="nextShow">{{show.data.air_day}}&nbsp;{{show.data.air_time}}</p>
                        <p class="status">Status: {{status(show.data.ended)}}</p>
                        <p class="network">Network: {{show.data.network}}</p>
                        <ul class="genres">
                            <li class="heading">Genres</li>
                            <li data-ng-repeat="item in show.data.genres">{{item}}</li>
                        </ul>
                        <p class="nextShow">Rating: {{show.data.ratings.percentage}}%</p>
                        <div class="rating" title="Rating: {{show.data.ratings.percentage}}%">
                            <div class="percent" style="width:{{show.data.ratings.percentage}}%"></div>
                        </div>
                    </div>
                </div>
                <p class="overview" style="border:1px solid #ccc;padding:5px">{{show.data.overview}}</p>
                <div class="episodeDetails">
                    <form method="get" data-ng-submit="getEpisode()" class="episodeForm">
                        <span>Get Info for:</span>
                        <input type="text" data-ng-model="seasonNum" id="seasonNumber" placeholder="Season"/>
                        <input type="text" data-ng-model="episodeNum" id="episodeNumber" placeholder="Episode"/>
                        <button type="submit">GET</button>
                        <p class="error" data-ng-show="error==true">{{message}}</p>
                    </form>
                    <div class="details" data-ng-show="showDetails==true">
                        <h2 class="showTitle">{{episode.name}}</h2>
                        <p class="nextShow">{{getDate(episode.airdate)}}</p>
                        <p class="overview">{{episode.overview}}</p>
                    </div>
                </div>
            </div>
            <div class="navs">
                <ul class="nav-list">
                    <li data-ng-repeat="item in navItems" data-ng-class="{active: $index==selectedNav}">
                        <a href="{{item.href}}" class="navLink" data-ng-click="changeView($index)">{{item.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
